*{
    box-sizing: border-box;
}
body{
    margin:auto;
}
header{
    border-bottom: 1px solid rgb(171, 169, 169);
}
header ul li .nav-link:hover{
color:orange;
}
.fix .image img{
    width:70px;
   }
   .about{
    background-color:  #f8f9fa;
   }
.about h5{
    padding:10px;
     margin:20px;
 background-color: green;
 color:white;
}
.about button{
    background-color: orange !important;
    color:black;
    width:150px;
    height:50px;
    border:none !important;
}
.courses{
    background-color: lightgray;
}
.courses img:hover{
    transform:scale(1.1);
    transition-duration: 2s;
}
table a{
    color:red;
}
.training{
    background-color: lightgray;
}
.training figure{
    background-color: white;
    margin: 10px;
    padding:20px;
       }
.methods figure{
    background-color: lightgray;
       }
.methods figcaption , .training figcaption{
    margin-top: 20px;
}
.training p{
    font-size: 16px;
    line-height:28px;
}
.link{
    background-color: green;
    color:white;
}
.link ul li{
    display: block;
    text-decoration: none;
}
.link span{
    color:yellow;
}
.link .quick i , .link .reach i{
    color:yellow;
}
.link .contact a{
    margin:15px;
}
 .link .contact a:hover{
    background-color: orange;
 }
 footer{
    background-color: darkgreen;
    color:white;
 }
 .abt{
    background-color: darkblue;
    color:white;
 }
 .abt span{
    color:orange;
 }
 .abt .list ul li{
    display:inline;
 }
 .enquiry , .address{
    padding:35px 30px 20px 30px;
 }
